.banner {
  height: 500px;
  display: flex;
  justify-content: center;
  color: white;
}

.banner__body {
  padding: 50px;
  background-image: url("../../img/crafting.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Necessário para o ::after */
  color: white; /* Garante que o texto fique visível */
  z-index: 1; /* Eleva o conteúdo acima do ::after */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.623); /* Escurece a textura */
  pointer-events: none;
  z-index: -1; /* Mantém o escurecimento atrás do conteúdo */
}

h2 {
  color: #4ba530;
}
