.button {
  height: 40px;
  min-width: 60px;
  max-width: 240px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid rgba(255, 255, 255, 0.589);
  border-width: 2px 0 0 2px;
}

.button:hover {
  border: solid rgba(219, 219, 219, 0.589);
  border-width: 2px 0 0 2px;
}
